In [16]:
#dataframe
import pandas as pd
import numpy as np

# 데이터 프레임 객체 생성
- 리스트 안에 딕셔너리로 생성 : 
    - '[{},{},{}]' : "{column : value, ... } >row
- 딕셔너리 안에 리스트로 생성 :
    - '{column1:[values], column2:[values]}' > column

In [17]:
# 리스트의 딕셔너리

In [18]:
datas = [
    {"name":"data","email":"data@gmail.com","id":1},
    {"name":"python","email":"python@naver.com","id":2}
]

In [19]:
df = pd.DataFrame(datas)
df

     name             email  id
0    data    data@gmail.com   1
1  python  python@naver.com   2

In [20]:
# 딕셔너리의 리스트

In [21]:

datas = df.to_dict("list")
datas

{'name': ['data', 'python'],
 'email': ['data@gmail.com', 'python@naver.com'],
 'id': [1, 2]}

In [22]:
df2 = pd.DataFrame(datas)

In [23]:
df2

     name             email  id
0    data    data@gmail.com   1
1  python  python@naver.com   2

In [24]:
datas = {'name': ['data', 'python','jupyter'],
 'email': ['data@gmail.com', 'python@naver.com','jupyter@daume.net'],
 'id': [1, 2, 3]}

In [25]:
#데이터 프레임의 변수 확인 : index, values, columns

In [26]:
df.index, df.columns, df.values

(RangeIndex(start=0, stop=2, step=1),
 Index(['name', 'email', 'id'], dtype='object'),
 array([['data', 'data@gmail.com', 1],
        ['python', 'python@naver.com', 2]], dtype=object))

In [27]:
df.dtypes
#object는 문자열이라고 생각하면 됨

name     object
email    object
id        int64
dtype: object

# 데이터의 선택, 수정, 추가, 삭제

###  데이터 선택 : row만 선택하기, column만 선택하기, [row,column] 모두 선택하기

In [28]:
df

     name             email  id
0    data    data@gmail.com   1
1  python  python@naver.com   2

In [29]:
#row만 선택하기
df.index = [0,1]
df.loc[::-1]

     name             email  id
1  python  python@naver.com   2
0    data    data@gmail.com   1

In [30]:
df.loc[[0,2]]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Int64Index([2], dtype='int64'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [ ]:
#column만 선택하기
df['name']

In [ ]:
df[['id','name','email']] #순서를 원하는대로 적어서 원하는대로 출력이 가능하다

In [ ]:
#row 와 column 동시에 선택하기

In [ ]:
df.loc[::2,["id","email"]]

## 데이터 수정 : 데이터선택 = 수정하는 데이터

In [ ]:
df["id"]

In [ ]:
df["id"] = 10

In [ ]:
df['id']= [4,5,6]

In [ ]:
df

In [ ]:
df.loc[1:,["name","id"]] = [["notebook",7],["macbook",8]]

In [ ]:
df

In [ ]:
#데이터 추가 : column 과 row 추가 모두 가능

In [ ]:
#row 추가
df.loc[3] = ["iphone","iphone@daum.net",9]
df.loc[len(df)] = ["iphone","iphone@daum.net",9]

In [ ]:
df

In [ ]:
#column
df

In [ ]:
df["addr"] = ["seoul","busan","incheon","anyang","incheon"]

In [ ]:
df

In [ ]:
#데이터 삭제 : df.drop()

In [ ]:
df.drop(index=[3])

In [ ]:
df["email"].apply()

In [ ]:
def get_domain(email):
    return email.split("@")[1].split(".")[0]

In [ ]:
df['domail'] = df["email"].apply(lambda email:email.split("@")[1].split(".")[0])

In [ ]:
df

In [ ]:
!ls datas

In [ ]:
# %load datas/makedata.py

# 사람의 이름과 나이가 들어간 데이터를 만듭니다.
import random
import numpy as np

# 랜덤한 이름 출력하는 함수
def get_name():
    names = ["Adam", "Alan", "Alex", "Alvin", "Andrew",
             "Anthony", "Arnold", "Jin", "Billy", "Anchal"]
    return random.choice(names)

# 랜덤한 나이 출력
def get_age(start=20, end=40):
    return np.random.randint(start, end + 1)

# 랜덤하게 나이와 이름을 출력
def make_data(rows=10):
    datas = []
    for _ in range(rows):
        data = {"Age": get_age(), "Name": get_name()}
        datas.append(data)
    return datas

In [ ]:
import datas.makedata as md

In [ ]:
md.get_name(),md.get_age()

In [ ]:
datas = md.make_data(5)
df = pd.DataFrame(datas)
df

In [ ]:
#df. append(): 두개의 데이터 프레임을 합칠 때 사용

In [ ]:
df1 = pd.DataFrame(md.make_data(5))
df2 = pd.DataFrame(md.make_data(5))

In [ ]:
df3 = df1.append(df2)
df3.head()

In [ ]:
df1.append(df2,ignore_index=True)

In [ ]:
#df.reset_index()

In [ ]:
df3.reset_index(drop=True,inplace=True)

In [ ]:
df3

In [ ]:
#pd.concat() : row나 column으로 데이터를 합쳐줄때 사용

In [ ]:
df3 = pd.concat([df1,df2])

In [ ]:
df3

In [ ]:
pd.concat([df3,df1]).reset_index(drop=True)

In [ ]:
df = pd.DataFrame(md.make_data())

In [ ]:
df.tail(2)

In [ ]:
df

In [ ]:
df.groupby("Name").size()

In [ ]:
df.groupby("Name").agg("mean").reset_index()