# Dask
- 데이터 분석을 수행할때 큰 파일의 csv파일은 메모리상에 모두 올리기가 힘듦
- 가상의 데이터 프레임을 병렬처리를 활용해서 메모리를 효율적으로 사용할수 있도록 도와주는 패키지
- 가상의 데이터 프레임
- 병렬처리 작업 스케줄러
- 설치

In [3]:
import dask.dataframe as dd

1. 파일읽기

In [4]:
#dataframe으로 읽어오기
df = pd.read_csv('datas/Crimes_-_2001_to_Present.csv')

In [5]:
#dask의 데이터 프레임으로 읽어오기
ddf = dd.read_csv("datas/Crimes_-_2001_to_Present.csv",dtype=str)

In [6]:
type(ddf)

dask.dataframe.core.DataFrame

In [7]:
ddf.tail(2)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
249750,12310456,JE163205,03/08/2021 08:00:00 PM,049XX N DRAKE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,false,false,...,33,14,11,1151826,1932595,2021,03/15/2021 04:48:08 PM,41.970917783,-87.717102456,"(41.970917783, -87.717102456)"
249751,12310095,JE162477,03/08/2021 08:25:00 AM,043XX N SHERIDAN RD,0520,ASSAULT,AGGRAVATED - KNIFE / CUTTING INSTRUMENT,GROCERY FOOD STORE,false,false,...,46,3,04A,1168812,1929247,2021,03/15/2021 04:48:08 PM,41.96137851,-87.65474101,"(41.96137851, -87.65474101)"

2. 파일저장하기

In [8]:
!mkdir datas/crimes

In [10]:
ddf.to_csv("datas/crimes/data_*.csv",index=False)

['/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_00.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_01.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_02.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_03.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_04.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_05.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_06.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_07.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_08.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_09.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_10.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_11.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_12.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_13.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_14.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_15.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_16.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_17.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_18.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_19.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_20.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_21.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_22.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_23.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_24.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_25.csv',
 '/Users/song-kang/Desktop/Fastcampus/Coding/pandas/datas/crimes/data_26.csv']

In [11]:
#저장한 파일 불러오기
load_df = dd.read_csv("datas/crimes/data_*.csv")

In [13]:
load_df.tail(2)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
249750,12310456,JE163205,03/08/2021 08:00:00 PM,049XX N DRAKE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,False,...,33.0,14.0,11,1151826.0,1932595.0,2021,03/15/2021 04:48:08 PM,41.970918,-87.717102,"(41.970917783, -87.717102456)"
249751,12310095,JE162477,03/08/2021 08:25:00 AM,043XX N SHERIDAN RD,0520,ASSAULT,AGGRAVATED - KNIFE / CUTTING INSTRUMENT,GROCERY FOOD STORE,False,False,...,46.0,3.0,04A,1168812.0,1929247.0,2021,03/15/2021 04:48:08 PM,41.961379,-87.654741,"(41.96137851, -87.65474101)"

3. 함수 실행하기

In [14]:
%%time
seoul_df = pd.read_csv("datas/seoul.csv",dtype={"type_of_business":np.str})

CPU times: user 507 ms, sys: 91 ms, total: 599 ms
Wall time: 602 ms

In [15]:
seoul_df.tail(1)

,Unnamed: 0,store_id,card_id,card_company,transacted_date,transacted_time,installment_term,region,type_of_business,amount
704436,6236963,2043,4447715,e,2019-02-28,19:20,0,서울 성북구,NaN,8571.428571

In [17]:
%%time
df_1 = seoul_df.drop(columns=["Unnamed: 0"])

CPU times: user 31.1 ms, sys: 11.6 ms, total: 42.7 ms
Wall time: 42.4 ms

In [18]:
%%time
seoul_df = dd.read_csv("datas/seoul.csv",dtype={"type_of_business":np.str})

CPU times: user 9.24 ms, sys: 4.53 ms, total: 13.8 ms
Wall time: 12.9 ms

In [19]:
%%time
df_2 = seoul_df.drop(columns=["Unnamed: 0"])

CPU times: user 4.26 ms, sys: 524 µs, total: 4.78 ms
Wall time: 4.35 ms

In [20]:
#연산 수행 : compute()

In [22]:
%%time
df_1.amount.mean()

CPU times: user 1.6 ms, sys: 788 µs, total: 2.39 ms
Wall time: 1.21 ms

15048.562573674246

In [23]:
%%time
df_2.amount.mean().compute()

CPU times: user 576 ms, sys: 136 ms, total: 712 ms
Wall time: 711 ms

15048.562573678388

In [26]:
df_2.compute().tail(2)

,store_id,card_id,card_company,transacted_date,transacted_time,installment_term,region,type_of_business,amount
704435,2043,4447452,b,2019-02-28,18:49,0,서울 성북구,NaN,1428.571429
704436,2043,4447715,e,2019-02-28,19:20,0,서울 성북구,NaN,8571.428571

In [27]:
# assign() : 연산한 결과를 바로 컬럼에 할당하는 함수

In [28]:
df_1["amount_2"] = df_1.amount * 100

0         3.428571e+05
1         3.285714e+05
2         2.300000e+06
3         1.557143e+06
4        -1.557143e+06
              ...
704432    3.571429e+05
704433    1.428571e+05
704434    1.428571e+05
704435    1.428571e+05
704436    8.571429e+05
Name: amount, Length: 704437, dtype: float64

In [29]:
df_2.assign(amount_2 = df_2.amount*100).tail(2)

,store_id,card_id,card_company,transacted_date,transacted_time,installment_term,region,type_of_business,amount,amount_2
704435,2043,4447452,b,2019-02-28,18:49,0,서울 성북구,NaN,1428.571429,142857.142857
704436,2043,4447715,e,2019-02-28,19:20,0,서울 성북구,NaN,8571.428571,857142.857143

4. 병렬처리
- cpu 코어 수만큼 병렬처리가 가능

In [30]:
ddf.head(2)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,false,true,...,12,61,08B,1165074,1875917,2015,02/10/2018 03:50:01 PM,41.815117282,-87.669999562,"(41.815117282, -87.669999562)"
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,false,false,...,29,25,06,1138875,1904869,2015,02/10/2018 03:50:01 PM,41.895080471,-87.765400451,"(41.895080471, -87.765400451)"

In [32]:
%%time
result_df = ddf.dropna().compute()

CPU times: user 50.3 s, sys: 6.67 s, total: 56.9 s
Wall time: 46.2 s

In [33]:
len(result_df), len(ddf)

(6608245, 7291881)

In [34]:
#프로그래스바 설정

In [36]:
from dask.diagnostics import ProgressBar

In [37]:
ProgressBar().register()

In [38]:
# 컬럼별 카운트
ddf.count().compute()

[########################################] | 100% Completed | 43.4s

ID                      7291881
Case Number             7291877
Date                    7291881
Block                   7291881
IUCR                    7291881
Primary Type            7291881
Description             7291881
Location Description    7283805
Arrest                  7291881
Domestic                7291881
Beat                    7291881
District                7291834
Ward                    6677046
Community Area          6678397
FBI Code                7291881
X Coordinate            7220287
Y Coordinate            7220287
Year                    7291881
Updated On              7291881
Latitude                7220287
Longitude               7220287
Location                7220287
dtype: int64

In [39]:
# cpu 코어수 확인
import os

In [40]:
os.cpu_count()

8

In [41]:
ddf.count().compute(scheduler="processes",num_workers = 8)

[########################################] | 100% Completed | 15.7s

ID                      7291881
Case Number             7291877
Date                    7291881
Block                   7291881
IUCR                    7291881
Primary Type            7291881
Description             7291881
Location Description    7283805
Arrest                  7291881
Domestic                7291881
Beat                    7291881
District                7291834
Ward                    6677046
Community Area          6678397
FBI Code                7291881
X Coordinate            7220287
Y Coordinate            7220287
Year                    7291881
Updated On              7291881
Latitude                7220287
Longitude               7220287
Location                7220287
dtype: int64