In [30]:
# a = int(input())
for i in range(2,10):
    for j in range(2,10):
        print(j, '*', i, '=', j*i, end='\t' ,sep='')
#         print("{} * {} = {}".format(j,i,j*i), end ='\t')
    print('\n')

2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18

2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27

2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36

2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45

2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54

2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63

2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72

2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [4]:
0 1 1 2 3 5 8 13 21 34 55 89 144

0 1 2 3 4 5 6 7  8  9  10 11 12

TypeError: 'function' object is not subscriptable

In [ ]:
0 1 2 2 3 3 4 4 5 6 6  7  8  8  9  9  10 11 11
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
0 0 0 1 1 2 2 3 3 3 4  4  4  5  5  6  6  6  7

In [ ]:
1 / 1
2 / 2
3 / 2
4 / 3
5 / 3
6 / 4
7 / 4
8 / 5
9 / 6
10 / 6
11 / 7
12 / 8
13 / 8
14 / 9
15 / 9
16 / 10
17 / 11

# enumerate()
- for 사용시 데이터에 index값을 추가해서 사용하고 싶을때

In [33]:
datas = ['python','jupyter','notebook']
for data in datas:
    print(data)

python
jupyter
notebook

In [34]:
list(enumerate(datas))

[(0, 'python'), (1, 'jupyter'), (2, 'notebook')]

In [37]:
for idx, data in enumerate(datas):
    print(idx, data)

0 python
1 jupyter
2 notebook

# zip
- 여러개의 리스트를 같은 index끼리 묶어주는 함수
- 묶고자 하는 리스트들의 개수가 서로 다른경우에는 가장 짧은 리스트를 기준으로 묶는다.

In [40]:
points = [100,90,80]
subjects = ['korean','math','coding']
ids = [1,2,3]

In [44]:
Z = zip(ids, subjects, points)

In [45]:
print(list(Z))

[(1, 'korean', 100), (2, 'math', 90), (3, 'coding', 80)]

# <u>**list comprehension**</u>
- 반복문의 결과를 바로 리스트로 만들어 주는 방법

In [55]:
[i*i for i in range(0,10) if i %2]

[1, 9, 25, 49, 81]

In [53]:
i for i in range(0,10)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [60]:
[str(i)+'홀수' if i % 2 else str(i)+'짝수' for i in range(0,10)]

['0짝수', '1홀수', '2짝수', '3홀수', '4짝수', '5홀수', '6짝수', '7홀수', '8짝수', '9홀수']

In [71]:
# kim씨 성을 가진 사람을 제외한 나머지 사람의 이름만 리스트로 출력하기
# kim씨 성을 가진 사람을 제외하고 나머지 사람을 출력하는데 박씨성을 가진 사람은 이름만 출력하기

datas = ['kim test','park python','lee data',
         'Kim jupyter','jung notebook']
[i.split()[1] for i in datas if i.split()[0].upper() != 'KIM']

[i if i.split()[0] != 'park' else i.split()[1] for i in datas if i.split()[0].upper() != 'KIM']

['python', 'lee data', 'jung notebook']

# function
- 함수는 반복되는 코드를 묶어서 효율적 작성을 가능하게 해주는 문법
- index
    - 함수선언 및 사용법
    - return이 있는 함수와 없는 함수
    - 파라미터와 arugument
    - `*args`,`**kwargs`
    - docstring 작성법
    - scope : 지역, 전역 영역
    - lambda function
    - map, filter, reduce
    - decorator

In [72]:
def test1():
    print('python')

In [73]:
def test2():
    return "python"

In [79]:
a = test2()

In [80]:
print(a)

python

# about Function
- return이 없는 함수로 작성하면 출력값을 어떠한 변수에 =로 대입하려고 해도 저장이 안됨.
- return이 있어야 =로 저장이 가능.
- retrun을 함수내부의 코드를 강제 종료시킬때 사용 가능

# parameter & argument
- 위 두가지는 함수를 호출할때 함수에 특정 데이터를 전달할때 사용

In [81]:
def plus(num1, num2): #num1, num2를 파라미터라고 함
    return num1 + num2

In [83]:
plus(3,4) # 3,4 를 argument라고 함

7

In [84]:
# default parameter를 쓸때는 항상 뒤에 있는 파라미터에 써야함
# def plus(num1=0, num2)  (x)
# def plus(num1, num2=0)  (o)

# 파라미터를 두개가 아닌 하나만 입력했을때도 함수가 실행가능하도록 하는것이
# default parameter
def plus(num1, num2 = 0):
    return num1 + num2

In [85]:
plus(1)

1

# key word argument
---

In [86]:
def plus(num1, num2=0,num3=0,num4=0):
    return num1 + num2+ num3+num4

In [87]:
plus(1, num4=100) #이와같이 키워드 argument로 정해줄 수 있다.

101

# *args, **kwargs
- 함수를 사용할때 파라미터나 argument의 갯수를 특정할 수 없을때 사용
- ~*args : 키워드가 없는 아규먼트를 개수에 상관없이 받을때 사용
- **kwargs : 키워드 아규먼트를 받을때 개수에 상관없이 받을때 사용

In [88]:
def plus(num1, num2):
    return num1 + num2
print

In [102]:
def plus(data1,data2=10, *args,**kwargs): #디폴트없는애가 가장 먼저 들어오고 그다음 디폴트있는애 그다음 *args 그다음  **kwargs
    print(type(args), args)
    print(type(kwargs), kwargs)
    return sum(args)

In [105]:
plus(1,2,3,num1=6,num2=7)

<class 'tuple'> (1, 2, 3)
<class 'dict'> {'num1': 6, 'num2': 7}

6

In [106]:
# *, ** 문법 아규먼트에 사용하기

In [107]:
def disp(*args, **kwargs):
    print(args)
    print(kwargs)

In [109]:
ls = [1,2,3]

In [110]:
disp(ls) # disp([1,2,3]) 처럼 사용됨

([1, 2, 3],)
{}

In [111]:
disp(*ls) #disp(1,2,3) 처럼 사용됨

(1, 2, 3)
{}

In [114]:
connect_data = {"host": "127.0.0.1", "port": 80, "id": "dss", "pw": 1234}

In [115]:
disp(connect_data) # disp({"host": "127.0.0.1", "port": 80, "id": "dss", "pw": 1234})
# dict 데이터 타입의 argument가 1개

({'host': '127.0.0.1', 'port': 80, 'id': 'dss', 'pw': 1234},)
{}

In [116]:
disp(**connect_data) # disp(host="127.0.0.1", port=80, id="dss", pw=1234)
# int, str 데이터 타입의 argument가 4개

()
{'host': '127.0.0.1', 'port': 80, 'id': 'dss', 'pw': 1234}

# *args 와 **kwargs 정리

- 먼저 args는 키워드가 없는 아규먼트를 받을때, **kwargs는 키워드가 있는 애들을 받을때 쓰는거임
---
### 그리고 예를들어 disp()라는 함수에 리스트로 형태의 데이터를 입력할 때
    - 'disp(connect_data)는 튜플의 첫번째칸에 하나의 리스트를 통째로 넣는것이고'

    - 'disp(**connect_data)는 리스트를 인덱스별로 쪼개서 튜플 하나의 칸에 리스트 하나를 각각 집어넣는거임.

# docstring
- 함수의 사용법을 설명하는 것

In [121]:
def echo(msg):
    "echo returns its input argument"
    return msg

In [122]:
echo('python')

'python'

In [123]:
def plus(num1,num2):
    """
    calculate plus with num1 and num2
    The operation is:
        1. run num1 + num2
        2. return num1 + num2
    params:
        num1 : int
        num2 : int
    return int
    examples:
    > plus(2,3)
    > 5
    """

In [129]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# scope
- 변수를 선언할 때 선언하는 위치에 따라서 지역변수와 전역변수로 나뉨.
- 지역변수는 함수 안에서 변수를 선언 합니다.
- 전역변수는 함수 밖에서 변수를 선언 합니다.

In [131]:
data1 = 10

def change_data():
    global data1 #함수 내의 지역 변수를 전역 변수로 바꿔주는 명령어 global
    data1 = 20
    print(data1)
change_data()
print(data1)

20
20

In [ ]:
data1 = 10

def change_data():
    data1 = 20
    print(data1)
    return data1

change_data()
print(data1)

# inner function
- 함수안에 함수를 선언하는 방법
- callback function

In [135]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [136]:
def outer(a,b):
    
    def inner(c,d):
        return c + d
    
    return inner(a,b)
'''
이렇게 굳이 쓰는 이유는 inner를 밖에서 못쓰게 하기 위해서임.
'''

In [140]:
def outer(a,b):
    
    def inner(c,d):
        return c + d
    
    return inner

In [141]:
func = outer(3,4)

In [142]:
func(5,6)

11

In [137]:
outer(3,4)

7

In [138]:
%whos

Variable   Type        Data/Info
--------------------------------
outer      function    <function outer at 0x7fc3116613a0>

# callback function: 함수안에서 코드를 실행하고 마지막에 실행하는 함수

In [158]:
def callback(result):
    #db에 결과 저장 ...
    print('작업이 완료되었습니다.',result)

In [159]:
def plus(num1,num2,callback):
    result = num1 + num2
    callback(result)
    return result

In [160]:
plus(3,4,callback)

작업이 완료되었습니다. 7

7

In [149]:
def calc(func, num1, num2):
    return func(num1, num2)

In [150]:
def plus(num1, num2):
    return num1 + num2

In [151]:
def minus(num1, num2):
    return num1 - num2

In [152]:
calc(plus,3,4)

7

In [154]:
calc(minus,4,1)

3