### pandas는 두가지의 데이터타입을 가진다
1. Series
    - index와 value로 이루어져있고 하나의 series에는 동일한 데이터 타입만 들어갈 수 있다.
    - series가 모여서 dataframe이 된다고 생각하면 된다.
2. DataFrame
    - index, value, column으로 이루어진 데이터 타입이고 테이블 형태의 데이터이다.

In [1]:
s = pd.Series([1,2,3,4,5])

In [3]:
data = pd.Series(np.random.randint(10,size=5))

In [4]:
data

0    2
1    6
2    5
3    1
4    4
dtype: int64

In [7]:
data = pd.Series(np.random.randint(10,size = 5),list("ABCDE"))
# list 파라미터를 별도로 줘서 인덱스를 변경할 수 있다.

In [10]:
data.index,data.values
# .index 와 .values로 인덱스나 값만 읽어올 수도 있다.

(Index(['A', 'B', 'C', 'D', 'E'], dtype='object'), array([8, 4, 7, 5, 1]))

In [19]:
data.name = 'data'
# Series에 이름을 지어줄 수 있고
data.index.name = 'alphabet'
# 인덱스자체에 타이틀을 달아줄 수도 있다.

In [18]:
data

alphabet
A    8
B    4
C    7
D    5
E    1
Name: data, dtype: int64

In [21]:
data * 10
#브로드캐스팅 연산으로 각 10이 곱해진다

alphabet
A    80
B    40
C    70
D    50
E    10
Name: data, dtype: int64

In [26]:
data[["A","C"]], data[2::-1]
#index가 A,C인 애들만 필터링 // 2부터 끝까지 반대로

(alphabet
 A    8
 C    7
 Name: data, dtype: int64,
 alphabet
 C    7
 B    4
 A    8
 Name: data, dtype: int64)

In [29]:
data > 6
#이렇게 하면 각 요소들을 조건에 비교해서 T/F로 알 수 있다.
data[data>6]
#이렇게 하면 조건에 맞는 요소만 출력할 수 있다.

alphabet
A    8
C    7
Name: data, dtype: int64

In [31]:
list(data.items())
#이렇게 리스트를 아이템 메서드와 리스트 함수를 사용해서 리스트로 만들 수 있다.

[('A', 8), ('B', 4), ('C', 7), ('D', 5), ('E', 1)]

In [34]:
data[data>5] =100
#[]안의 조건이 참이면 100을 입력한다

In [33]:
data

alphabet
A    100
B      4
C    100
D      5
E      1
Name: data, dtype: int64

In [39]:
data1 = pd.Series(np.random.randint(10,size=5),list("ABCDE"))
data2 = pd.Series({"D":3, "E":5 ,"F":7})

In [42]:
data1,data2

(A    8
 B    5
 C    7
 D    6
 E    9
 dtype: int64,
 D    3
 E    5
 F    7
 dtype: int64)

In [43]:
result = data1 + data2
result 
# series끼리 덧셈을 실행하면 인덱스가 일치하는 요소들끼리 덧셈을 하고 
# 나머지는 NaN값이 입력된다.

result.isnull()
# NaN값이 들어있는지 체크할 수 있는 함수

A     True
B     True
C     True
D    False
E    False
F     True
dtype: bool

In [44]:
result[result.isnull()] = data1
# result에 NaN값이 있는 애들은 data1의 값을 삽입한다.

In [46]:
result[result.isnull()] = data2

In [49]:
result.dtype

dtype('float64')

In [54]:
result = result.astype(np.float)

In [55]:
result.dtype

dtype('float64')

In [111]:
datas = [
    {"name" : "data","email":"data@gmail.com", "id":1},
    {"name" : "python", "email":"python@naver.com" ,"id":2},
    {"name" : "java", "email":"java@daum.net" ,"id":3},
    {"name" : "javascript", "email":"javascript@kakao.com" ,"id":4}
]
datas

[{'name': 'data', 'email': 'data@gmail.com', 'id': 1},
 {'name': 'python', 'email': 'python@naver.com', 'id': 2},
 {'name': 'java', 'email': 'java@daum.net', 'id': 3},
 {'name': 'javascript', 'email': 'javascript@kakao.com', 'id': 4}]

In [164]:
datas2 = [
    {"name" : "data","email":"data@gmail.com", "id":1},
    {"name" : "python", "email":"python@naver.com" ,"id":2},
    {"name" : "java", "email":"java@daum.net" ,"id":3},
    {"name" : "javascript", "email":"javascript@kakao.com" ,"id":4}
]
datas2

[{'name': 'data', 'email': 'data@gmail.com', 'id': 1},
 {'name': 'python', 'email': 'python@naver.com', 'id': 2},
 {'name': 'java', 'email': 'java@daum.net', 'id': 3},
 {'name': 'javascript', 'email': 'javascript@kakao.com', 'id': 4}]

In [167]:
df2 = pd.DataFrame(datas2)

In [112]:
df = pd.DataFrame(datas)

In [74]:
df

     name             email  id
0    data    data@gmail.com   1
1  python  python@naver.com   2

In [75]:
datas = df.to_dict("list")

In [76]:
datas

{'name': ['data', 'python'],
 'email': ['data@gmail.com', 'python@naver.com'],
 'id': [1, 2]}

In [77]:
df

     name             email  id
0    data    data@gmail.com   1
1  python  python@naver.com   2

In [84]:
df.index
#df의 인덱스들을 출력

Index(['A', 'B'], dtype='object')

In [85]:
df.columns
#df의 columns값들을 출력 // 값들의 타이틀을 나타낸다고 보면 될듯.

Index(['name', 'email', 'id'], dtype='object')

In [86]:
df.values
#df에 실질적으로 들어가있는 값들을 출력

array([['data', 'data@gmail.com', 1],
       ['python', 'python@naver.com', 2]], dtype=object)

In [81]:
df.index = list("AB")
#df의 인덱스값을 AB로 변경

In [82]:
df

     name             email  id
A    data    data@gmail.com   1
B  python  python@naver.com   2

In [83]:
df.dtypes
#df의 요소들(index,column,value)의 데이터 타입을 출력해줌

name     object
email    object
id        int64
dtype: object

In [98]:
df.loc[['A','B']]

     name             email  id
A    data    data@gmail.com   1
B  python  python@naver.com   2

In [99]:
df[['id','email','name']]

   id             email    name
A   1    data@gmail.com    data
B   2  python@naver.com  python

In [101]:
df["id"]=10

In [121]:
df.loc[1:2,['name','id']] = [["PYTHON",10],["JAVA",11]]
#위와같이 작성해서 df의 값을 선택하거나 수정할 수 있다.

In [122]:
df

         name                 email  id
0        data        data@gmail.com   1
1      PYTHON      python@naver.com  10
2        JAVA         java@daum.net  11
3  javascript  javascript@kakao.com   4

In [125]:
df.loc[4] = ["HTML","HTML@HTML.com","100"]
#위와같이 작성해서 row 데이터를 추가할 수 있다

In [131]:
df.loc[:]
#label을 통해서 값을 필터링한다

         name                 email   id addr
0        data        data@gmail.com    1    S
1      PYTHON      python@naver.com   10    B
2        JAVA         java@daum.net   11    D
3  javascript  javascript@kakao.com    4    K
4        HTML         HTML@HTML.com  100    J

In [130]:
df.iloc[:]
#iloc : 인덱스 번호를 통해서 값을 필터링한다

         name                 email   id addr
0        data        data@gmail.com    1    S
1      PYTHON      python@naver.com   10    B
2        JAVA         java@daum.net   11    D
3  javascript  javascript@kakao.com    4    K
4        HTML         HTML@HTML.com  100    J

In [127]:
df["addr"]=["S","B","D","K","J"]
#loc없이 이렇게 작성하면 column을 추가할 수 있다.

In [132]:
def get_domain(email):
    return email.split("@")[1].split(".")[0]

get_domain("data@gmail.com")

'gmail'

In [153]:
df

         name                 email   id addr domail domain
0        data        data@gmail.com    1    S  gmail  gmail
1      PYTHON      python@naver.com   10    B  naver  naver
2        JAVA         java@daum.net   11    D   daum   daum
3  javascript  javascript@kakao.com    4    K  kakao  kakao
4        HTML         HTML@HTML.com  100    J   HTML   HTML

In [156]:
df.drop('domail',axis=1)

         name                 email   id addr domain
0        data        data@gmail.com    1    S  gmail
1      PYTHON      python@naver.com   10    B  naver
2        JAVA         java@daum.net   11    D   daum
3  javascript  javascript@kakao.com    4    K  kakao
4        HTML         HTML@HTML.com  100    J   HTML

In [134]:
df["domain"] = df["email"].apply(lambda email: email.split("@")[1].split(".")[0])
df

         name                 email   id addr domail domain
0        data        data@gmail.com    1    S  gmail  gmail
1      PYTHON      python@naver.com   10    B  naver  naver
2        JAVA         java@daum.net   11    D   daum   daum
3  javascript  javascript@kakao.com    4    K  kakao  kakao
4        HTML         HTML@HTML.com  100    J   HTML   HTML

In [150]:
df.loc

SyntaxError: invalid syntax (<ipython-input-150-4d9e9a8e5a87>, line 1)

In [129]:
df.drop(index=[4])
#index값을 설정해서 df에서 행을 삭제할 수 있다.

         name                 email  id addr
0        data        data@gmail.com   1    S
1      PYTHON      python@naver.com  10    B
2        JAVA         java@daum.net  11    D
3  javascript  javascript@kakao.com   4    K

In [157]:
def get_domain(email):
    return email.split("@")[1].split(".")[0]

get_domain("data@gmail.com")

'gmail'

In [158]:
df["domain"] = df["email"].apply(lambda email: email.split("@")[1].split(".")[0])
df

         name                 email   id addr domail domain
0        data        data@gmail.com    1    S  gmail  gmail
1      PYTHON      python@naver.com   10    B  naver  naver
2        JAVA         java@daum.net   11    D   daum   daum
3  javascript  javascript@kakao.com    4    K  kakao  kakao
4        HTML         HTML@HTML.com  100    J   HTML   HTML

In [160]:
df.drop("domail",axis=1)

         name                 email   id addr domain
0        data        data@gmail.com    1    S  gmail
1      PYTHON      python@naver.com   10    B  naver
2        JAVA         java@daum.net   11    D   daum
3  javascript  javascript@kakao.com    4    K  kakao
4        HTML         HTML@HTML.com  100    J   HTML

In [162]:
df.head(2)

     name             email  id addr domail domain
0    data    data@gmail.com   1    S  gmail  gmail
1  PYTHON  python@naver.com  10    B  naver  naver

In [163]:
df.tail(2)

         name                 email   id addr domail domain
3  javascript  javascript@kakao.com    4    K  kakao  kakao
4        HTML         HTML@HTML.com  100    J   HTML   HTML

In [168]:
df3 = df.append(df2)

In [174]:
df3.reset_index(drop=False, inplace=True)
'''
drop은 기존에 통폐합되는 index들을 df안에 살려둘것인가에 대한 여부
inplace는 변경사항을 바로 df에 덮어쓸것인지에 대한 여부
'''

'\ndrop은 기존에 통폐합되는 index들을 df안에 살려둘것인가에 대한 여부\ninplace는 변경사항을 바로 df에 덮어쓸것인지에 대한 여부\n'

In [178]:
df.append(df2, ignore_index=False)
# ignore_index를 True로 하면 합쳐지는 녀석의 인덱스를 무시하고 
# 기존의 인덱스번호에 뒤이어 번호를 붙인다
# False면 합쳐지는녀석의 기존 index를 그대로 가져다가 붙인다

         name                 email   id addr domail domain
0        data        data@gmail.com    1    S  gmail  gmail
1      PYTHON      python@naver.com   10    B  naver  naver
2        JAVA         java@daum.net   11    D   daum   daum
3  javascript  javascript@kakao.com    4    K  kakao  kakao
4        HTML         HTML@HTML.com  100    J   HTML   HTML
0        data        data@gmail.com    1  NaN    NaN    NaN
1      python      python@naver.com    2  NaN    NaN    NaN
2        java         java@daum.net    3  NaN    NaN    NaN
3  javascript  javascript@kakao.com    4  NaN    NaN    NaN

In [182]:
df3 = pd.concat([df,df2]).reset_index(drop=True)

In [183]:
df3

         name                 email   id addr domail domain
0        data        data@gmail.com    1    S  gmail  gmail
1      PYTHON      python@naver.com   10    B  naver  naver
2        JAVA         java@daum.net   11    D   daum   daum
3  javascript  javascript@kakao.com    4    K  kakao  kakao
4        HTML         HTML@HTML.com  100    J   HTML   HTML
5        data        data@gmail.com    1  NaN    NaN    NaN
6      python      python@naver.com    2  NaN    NaN    NaN
7        java         java@daum.net    3  NaN    NaN    NaN
8  javascript  javascript@kakao.com    4  NaN    NaN    NaN

In [185]:
pd.concat([df3,df],axis=1)

,name,email,id,addr,domail,domain,name,email,id,addr,domail,domain
0,data,data@gmail.com,1,S,gmail,gmail,data,data@gmail.com,1,S,gmail,gmail
1,PYTHON,python@naver.com,10,B,naver,naver,PYTHON,python@naver.com,10,B,naver,naver
2,JAVA,java@daum.net,11,D,daum,daum,JAVA,java@daum.net,11,D,daum,daum
3,javascript,javascript@kakao.com,4,K,kakao,kakao,javascript,javascript@kakao.com,4,K,kakao,kakao
4,HTML,HTML@HTML.com,100,J,HTML,HTML,HTML,HTML@HTML.com,100,J,HTML,HTML
5,data,data@gmail.com,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,python,python@naver.com,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,java,java@daum.net,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,javascript,javascript@kakao.com,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
pd.concat([df3,df],axis=1,join="inner")
#inner는 교집합부분만을 출력하도록 한다.
#outer는 합집합부분을 출력하도록한다

,name,email,id,addr,domail,domain,name,email,id,addr,domail,domain
0,data,data@gmail.com,1,S,gmail,gmail,data,data@gmail.com,1,S,gmail,gmail
1,PYTHON,python@naver.com,10,B,naver,naver,PYTHON,python@naver.com,10,B,naver,naver
2,JAVA,java@daum.net,11,D,daum,daum,JAVA,java@daum.net,11,D,daum,daum
3,javascript,javascript@kakao.com,4,K,kakao,kakao,javascript,javascript@kakao.com,4,K,kakao,kakao
4,HTML,HTML@HTML.com,100,J,HTML,HTML,HTML,HTML@HTML.com,100,J,HTML,HTML

In [195]:
df.groupby("name").size().reset_index(name="counts")
#size함수는 전체 원소의 개수를 나타내줌.
# 여기서는 name하나당 몇개의 데이터가 있는지 개수를 세어줌

         name  counts
0        HTML       1
1        JAVA       1
2      PYTHON       1
3        data       1
4  javascript       1

In [196]:
df.groupby("name").agg(["min","max"]).reset_index()
#여기서 agg는 여러함수를 그룹바이를 통해 여러인자들에 적용시켜줄 수 있다.
#아래 예시에선 적절하게 나타나지 않지만
# 송강 이라는 사람이 5명이 있고 그 외 이름의 사람들이 있다고 가정했을때
'''
여러명의 송강이 있다고 했을 때,
groupby("name")송강을 묶어주고
여기에서 걸린 5명의 송강중 나이가 가장적은(min)송강과
나이가 가장많은(max)송강이 각각 몇살인지 나타내줄 수 있도록
두개의 함수를 동시에 적용시켜줄 수 있다.
'''

         name                 email                         id      addr      \
                                min                   max  min  max  min max
0        HTML         HTML@HTML.com         HTML@HTML.com  100  100    J   J
1        JAVA         java@daum.net         java@daum.net   11   11    D   D
2      PYTHON      python@naver.com      python@naver.com   10   10    B   B
3        data        data@gmail.com        data@gmail.com    1    1    S   S
4  javascript  javascript@kakao.com  javascript@kakao.com    4    4    K   K

  domail        domain
     min    max    min    max
0   HTML   HTML   HTML   HTML
1   daum   daum   daum   daum
2  naver  naver  naver  naver
3  gmail  gmail  gmail  gmail
4  kakao  kakao  kakao  kakao